				<!-- Additional Elements -->
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        <h2>お知らせ</h2>
                        <p>ドメイン・サイト・コミュニティに関するお知らせ</p>
                        <div class="index align-left">

                            <!-- Text -->
                                <section>
                                    <header>
                                        <h3>サーバ移転完了</h3>
                                    </header>
                                    <div class="content">

                                        <p><b>2023.05.02</b><br />
                                        これまで運用してきたさくらインターネットのVPSサービスからGMOインターネットのVPSサービスへサーバを移転しました。</p>
                                    </div>
                                </section>
                        </div>
                    </div>
                </section>
